@model AppLogin.Models.Entities.Game

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Game</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" id="frm-game">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gender" class="control-label"></label>
                <input asp-for="Gender" class="form-control" />
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Console" class="control-label"></label>
                <input asp-for="Console" class="form-control" />
                <span asp-validation-for="Console" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Create Ajax</button>
                @*<a href="" class="btn btn-default" onclick="Saludar()">Save</a>*@
                <a asp-action="Index" asp-controller="Games" class="btn btn-link">Back to list</a>

            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts{
    @{ await Html.RenderPartialAsync("_validationScriptsPartial");}
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#frm-game').submit(function (e) {
                var hola = $('#frm-game').serialize();

                //  alert(e.currentTarget.action);

                if ($('#Name').val() === '') {
                    alert('Enter a game name');
                    e.preventDefault();
                }
                
                $.ajax({
                    type: 'POST',
                    url: '/Games/Create',
                    data: hola,
                    success: function (result) {
                        window.location = '/Games/Index'; //Le puse eso para que regrese dos veces al metodo create, porque primero iba por la peticion de ajax y luego el formulario iba de nuevo
                    },
                    error: function (error) {
                        alert.error('Something Wrong!');
                    }
                });
            });
        });
    </script>
}

